body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}
header li {
    padding: 10px 20px ;
    display: inline-block;
}
header a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight:bold;
}
a:hover {
    color: black;
    border-bottom: solid 3px salmon;
    transition: 0.5ms all ease-in-out;
}
header .logo-text {
    font-size: 2rem;
    font-weight:bold;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
 #menu-btn {
    width: 100px;
    padding: 10px;
    background-color:transparent;
    border: 2.5px solid black;
    border-radius: 10px;
 }
section .div-1 {
    width: 700px;
    padding: 50px;
   
}
.green-img  {
   height: 500px;
   width: 500px;
   padding-top: 190px;
   
 animation-name: animatingProgrammer;
 animation-duration: 5s;
 animation-delay: none;
  animation-play-state: running;
animation-direction: alternate;
}

@keyframes animatingProgrammer {
    0%{transform: translateY(-90px);}
}

section .div-text {
 padding: 10px;
 font-size: medium;
 font-weight: bold;
 line-height: 50px;
 text-transform: capitalize;
 text-align: justify;
 

 animation-name: animationtext;
 animation-duration: 5s;
 animation-delay: none;
 animation-play-state: running;
animation-direction: reverse;
}

@keyframes animationtext {
    0%{ transform: translateX(70px);}
}
section {
    display: flex;
    justify-content: space-between;
}
.div-1 .welcome-text {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
 
}
span{
    font-size: large;
    font-weight: bolder;
    font-family: cursive;
}
.tech-stack-container {
   display: grid;
   grid-template-columns:  1fr 1fr  1fr 1fr;
   gap: 10px;  
   align-items: center;
   text-align: center;
   font-weight: bolder;
   font-size: x-large;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
}
.html {
    height: 230px;
   width: 230px;
}
.techstack-textdb{
  color: black;
  line-height: 110px;
}
.stack-upper-text {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
@media only screen and (max-width:768px){
     nav {
         display: none;
         width: 100%;
         background-color: red;
         position: relative;
         top: 100px;
     }
     .logo-text{
         font-weight: lighter;
         font-size: 1rem;
     }
     section {
         flex-wrap: wrap;
         text-align: center;
     }
     .welcome-text{
       padding-right: 50px;
       animation-name: animationtext;
       animation-duration: 5s;
       animation-delay: 2s;
       animation-delay: none;
       animation-play-state: running;
      animation-direction: reverse;
      
    } 
      @keyframes animationtext {
          0%{ transform: translateX(-30px);}
  
     }
   .green-img {
     height: 300px;
     width:300px;
     padding: 0;

     animation-name: animatingProgrammer;
     animation-duration: 5s;
     animation-delay: none;
      animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes animatingProgrammer {
    0%{transform: translateX(90px);}
}
   .tech-stack-container  {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
   }
}