*{
   padding: 0;
   margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}
header ul { 
    padding: 10px 20px ;
    display: flex;
    list-style: none;
}
.mobile-view-header {
   display: none;
}
header li {
   padding: 10px;
}
header #link{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight:bold;
}
 .logo-text {
    font-size: 1rem;
    font-weight:bold;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
 .menu-btn  , .cancelBtn{
    display: none;
 }
 /* --------------------- */
section {
      padding: 100px;
    background-image: linear-gradient(rgba(22, 22, 21, 0.733) , rgba(22, 22, 21, 0.733) ), url('./assets/prog2.png');
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    background-position: center;
}
.welcome-text {
    font-size: 4rem;
    font-weight :900;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
     text-align: center;
    color: bisque;
    padding: 100px;
    margin-left: 10px;

    animation-name: animationtext;
    animation-duration: 5s;
   
    animation-iteration-count: infinite;
    animation-direction:alternate ;
 } 
   @keyframes animationtext {
       0%{ transform: translateY(-50px);}
       50%{transform: translateY(30px);}
  }
.stack-upper-text , #porfolio-header-text {
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.parent-tech-stack-container{
     display: flex;
     justify-content: space-evenly;
}
#about-text{
     font-size: xx-large;
     font-weight: bolder;
     letter-spacing: 5px;
     word-spacing: 5px;
     line-height: 55px;
     text-transform: capitalize;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     padding-top: 40px;
}
span{
    font-size: 4rem;
}
/* portfolio container */
.ouutter{
  display:flex;
  justify-content: center;
}
.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
}
.portBox{
   background-color:burlywood;
   margin: 10px;
   width: 250px;
   padding: 20px;
   border-radius: 20px;
   box-shadow: 2px 2px 2px 2px rgba(41, 39, 39, 0.829);
}
#portfolio-img{
     height: 200px;
     width: 200px;
    border-radius: 20px;
    margin-left: 20px;
}
#linkBtn{
   width: 120px;
   padding: 5px;
   background-color: black;
   border-radius: 10px;
     margin-top: 20px;
     margin-left: 65px;
}
#portfolio-link{
   text-decoration: none;
   text-align: center;
   font-size: 1rem;
   font-weight:bold;
   color: white;
}
#portText{
   text-align: center;
   font-size: 1.2rem;
   font-weight:bold;
   text-transform: capitalize;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration: none;
}
@media only screen and (max-width:768px){
       .Pc-view{
        display: none;
       }
    .mobile-view-header{
        display:none;
        backdrop-filter: 10px(10px);
        background-color: bisque;
        height: 100vh;
        width: 300px;
       position: absolute;
        z-index: 1;
       animation-name: slidingSideBar;
       animation-duration: 2s;
       animation-direction: alternate;
       }


       @keyframes  slidingSideBar {
        0%{transform: translateX(-50px);}
      }
      
    .mobile-UL {
       height: 100vh;
       display: block;
       padding: 30px;


       animation-name: slidingList;
       animation-duration: 2s;
       animation-direction: alternate;
    }
    @keyframes  slidingList {
      0%{transform: translateY(50px);}
    }
    
    @keyframes animatingProgrammer {
        0%{transform: translateX(90px);}
    }
         li:hover{
          box-shadow: 2px 2px 2px 2px rgba(41, 39, 39, 0.829);
          transform: translateX(18px);
          transition: .2s all ease-in;
     }
      .logo-text{
         font-weight: bolder;
         font-size: 2rem;
     } 

      section {
         flex-wrap: wrap;
         text-align: center;
     }
     .welcome-text{
       padding-right: 50px;
       animation-name: animationtext;
       animation-duration: 5s;
       animation-delay: 2s;
       animation-delay: none;
       animation-play-state: running;
       animation-direction: alternate;
      
    } 
      @keyframes animationtext {
          0%{ transform: translateX(-100px);}
     }
     #programmer {
     height: 300px;
     width:300px;
     padding: 0;

     animation-name: animatingProgrammer;
     animation-duration: 5s;
     animation-delay: none;
      animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes animatingProgrammer {
    0%{transform: translateX(90px);}
}
   .menu-btn {
    width: 100px;
    padding: 10px;
    background-color:transparent;
    border: 2.5px solid black;
    border-radius: 10px;
    display: block;
 }
 .headericon{
     padding-left: 20px;
 }
  .cancel-btn {
    width: 100px;
    padding: 10px;
    background-color:transparent;
    border: 2.5px solid black;
    border-radius: 10px;
    display: block;
    margin: 20px;
  }
  a:hover{
    border-bottom: none;
  }.parent-tech-stack-container{
    flex-wrap: wrap;
  }
  
  #about-text{
    font-weight: bold;
    font-size: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .welcome-text{
     font-size: 2rem;
  }
  header{
     padding: 20px;
  }
  .stack-upper-text{
     padding-top: 10px;
  }
  #porfolio-header-text{
   padding-top: 40px;
  }
  section{
    padding: 0px;
  }
}
