body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: bisque;
}
header ul {
    padding: 10px 20px ;
    display: flex;
    list-style: none;
}
header li {
   padding: 10px;
}
header #link{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight:bold;
}
#link:hover {
    color: black;
    border-bottom: solid 3px salmon;
    transition: 0.5ms all ease-in-out;
}
 .logo-text {
    font-size: 2rem;
    font-weight:bold;
    text-transform: capitalize;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
 .menu-btn  , .cancelBtn{
    display: none;
 }
 /* --------------------- */
section {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(22, 22, 21, 0.733) , rgba(22, 22, 21, 0.733) ), url('./assets/prog2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.welcome-text {
    font-size: 4rem;
    font-weight :900;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    padding: 100px;
     text-align: center;
    color: bisque;

    animation-name: animationtext;
    animation-duration: 5s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse ;
 } 
   @keyframes animationtext {
       0%{ transform: translateY(-30px);}
       50%{transform: translateY(30px);}
  }
.stack-upper-text , #porfolio-header-text {
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.parent-tech-stack-container{
     display: flex;
     justify-content: space-evenly;
}
#about-text{
     font-size: xx-large;
     font-weight: bolder;
     letter-spacing: 5px;
     word-spacing: 5px;
     line-height: 55px;
     text-transform: capitalize;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    font-size: 4rem;
}
/* portfolio container */
.portfolio-container {
   display: flex;
   margin-top: 50px;
}
.portBox{
   background-color:burlywood;
   margin: 10px;
   width: 250px;
   padding: 20px;
   border-radius: 20px;
}
#portfolio-img{
     height: 200px;
     width: 200px;
    /* padding-left: 20px; */
    border-radius: 20px;
    margin-left: 20px;
}
#linkBtn{
   width: 120px;
   padding: 5px;
   background-color: black;
  border-radius: 10px;
  margin-left: 50px;
}
#portfolio-link{
   text-decoration: none;
   text-align: center;
   font-size: 1rem;
   font-weight:bold;
   color: white;
}
#portText{
   text-align: center;
   font-size: 1.2rem;
   font-weight:bold;
   text-transform: capitalize;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-decoration: none;
}
@media only screen and (max-width:768px){
       header {
         height: 80px;
       }
      .UL {
         display:none;
         width: 190px;
         background-color:bisque;
         position: relative;
         top: 190px;
         z-index: 1;
         text-align: center;
         border-radius: 10px;

         animation-name: animatingProgrammer;
         animation-duration: 5s;
         animation-delay: none;
          animation-play-state: running;
        animation-direction: alternate;
    }
    @keyframes animatingProgrammer {
        0%{transform: translateX(90px);}
    }
         li{
         border-bottom: 2px solid black;
     }
      li:last-child{
         border-bottom:none;
      }
      .logo-text{
         font-weight: lighter;
         font-size: 1rem;
         margin-left: 50px;
     } 
      section {
         flex-wrap: wrap;
         text-align: center;
     }
     .welcome-text{
       padding-right: 50px;
       animation-name: animationtext;
       animation-duration: 5s;
       animation-delay: 2s;
       animation-delay: none;
       animation-play-state: running;
      animation-direction: reverse;
      
    } 
      @keyframes animationtext {
          0%{ transform: translateX(-30px);}
     }
     #programmer {
     height: 300px;
     width:300px;
     padding: 0;

     animation-name: animatingProgrammer;
     animation-duration: 5s;
     animation-delay: none;
      animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes animatingProgrammer {
    0%{transform: translateX(90px);}
}
   .menu-btn {
    width: 100px;
    padding: 10px;
    background-color:transparent;
    border: 2.5px solid black;
    border-radius: 10px;
    display: block;
    margin-right: 80px;
 }
 .headericon{
     padding-left: 70px;
 }
  .cancelBtn {
    width: 100px;
    padding: 10px;
    background-color:transparent;
    display: block;
    margin-left: 90px;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    border: none;
  }
  a:hover{
    border-bottom: none;
  }.parent-tech-stack-container{
    flex-wrap: wrap;
  }
  
  #about-text{
    font-weight: bold;
    font-size: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  .portfolio-container{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .welcome-text{
     font-size: 2rem;
  }

}
